- All comments, code and documentation should be written in English, even if communication is in another language, unless otherwise requested.
- For terminal commands that may require interactive input or paging (like git log, git status, etc.), always append "| cat" to avoid asking for user interaction (e.g. "git log | cat" instead of "git log")
- Search for every bug o new future latest documentation on mcp context7 tools
- Read README.md for project description and tech stack

# MCP servers 
1. github
2. contex7 - for search documentation

## Main point
Next.js 15.3 


## 6. Команды разработки

```bash
# Установка зависимостей
pnpm install

# Запуск dev сервера
pnpm dev

# Линтинг
pnpm lint

# Сборка проекта
pnpm build

# Запуск проверки сборки Cloudflare
pnpm preview
```

## solutions

1. !we dont use Cloudflare Pages, use  Workers with @opennextjs/cloudflare
3. не запускай pnpm dev каждый раз, скорее всего я его уже включил. делай pnpm lint или pnpm build
